@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
  --font-family-sora: 'Sora';
}

body {
  font-family: 'Sora';
}

html {
  font-family: 'Sora';
}

*, *::before, *::after {
  font-family: 'Sora';
}

button, input, select, textarea {
  font-family: 'Sora';
}